/* color text primary #757575 */
/* color text secondary #212121 */
/* white text #FFFFFF */
/* color active #2196F3 */


:root {
    --main-text-color: #757575;
    --title-color: #212121;
    --active-color: #2196F3;
    --background-color: #F5F4FA;
    --background-hero: #2F303A;
}
/* GLOBAL PAGE STYLES */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    font-family: inherit;
    cursor: pointer
}
address {
    font-style: normal;
}
.link {
    text-decoration: none;
}
.hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/* HEADER */
.header {
    background: #FFFFFF;
}

.logo {
    color: var(--active-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header {
    color: var(--title-color);
}

.header-nav-list {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-color);
}
.header-nav .link {
    color: var(--title-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--active-color);
}
.header-nav .link.current{
    color: var(--active-color);
}

.header-contacts {}

.header-contacts-item {}

.header-contacts .link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--active-color);
}

/* MAIN */
/* HERO SECTION */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero.section {
    background: #2F303A;
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--active-color);
}

/* features */
.features {
    padding-bottom: 0;
}

.features-title {}

.features-list {}

.features-item {}

.features-subtitle {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--title-color);

        margin-bottom: 10px;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
}

/* What we do? */

.works {}

.works-title {
    font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--title-color);
        margin-bottom: 50px;
}

.works-list {}

.works-item {}

/* OUR TEAM */

.team {
    background: var(--background-color);
}

.team-title {
    font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--title-color);
        margin-bottom: 50px;
}

.team-list {}

.team-item {
    display: inline-block;
    background: #FFFFFF;
}

.team-subtitle {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--title-color);
        margin-top: 30px;
        margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--main-text-color);
}

/* FOOTER AND ADDRESS */

.footer {
    background: #2F303A;
}
.footer-logo {
    margin-bottom: 20px;
}
.logo-footer {
    color: #FFFFFF;
}

.footer-address {}

.address-list {}

.address-item {
    margin-bottom: 9px;
}

.address-link-map,
.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.address-link {
    color: rgba(255, 255, 255, 0.6);
}

.address-link-map:hover,
.address-link-map:focus,
.address-link:hover,
.address-link:focus {
    color: var(--active-color);
}

/* PORTFOLIO */
.portfolio {}
.portfolio-title {}

/* FILTERS */

.filters {}

.filters-list {
    margin-bottom: 50px;
}

.filters-item {}

.filters-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        color: var(--title-color);
        background: var(--background-color);
        border-radius: 4px;
}
.filters-btn:hover,
.filters-btn:focus {
color: #FFFFFF;
background: var(--active-color);
}

/* CARDS */

.cards {}

.examples-list {}

.example-item {}

.example-title {
    font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
        color: var(--title-color);
}

.example-text {
    font-size: 16px;
        line-height: 1.88;
        color: var(--main-text-color);
}