/* color text primary #757575 */
/* color text secondary #212121 */
/* white text #FFFFFF */
/* color active #2196F3 */


:root {
    --main-text-color: #757575;
    --title-color: #212121;
    --active-color: #2196F3;
    --background-color: #F5F4FA;
    --background-hero: #2F303A;
}
/* GLOBAL PAGE STYLES */
body {
    box-sizing: border-box;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}
.list{
    list-style: none;
}
.btn {
    font-family: inherit;
    cursor: pointer
}

/* HEADER */
.header {
    background: #FFFFFF;
}

.logo {
    color: var(--active-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header {
    color: var(--title-color);
}

.header-nav-list {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-color);
}
.header-nav .link {
    color: var(--title-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--active-color);
}
.header-nav .link.current{
    color: var(--active-color);
}

.header-contacts {}

.header-contacts-item {}

.header-contacts .link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--active-color);
}

/* MAIN */
/* HERO SECTION */

.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.hero-btn {
    display: inline-block;
    padding: 10px 32px;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--active-color);
}

/* features */
.features {}

.features-title {
    display: none;
}

.features-list {}

.features-item {}

.features-subtitle {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--title-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
}

/* What we do? */

.works {}

.works-title {
    font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--title-color);
}

.works-list {}

.works-item {}

/* OUR TEAM */

.team {
    background: var(--background-color);
}

.team-title {
    font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--title-color);
}

.team-list {}

.team-item {
    background: #FFFFFF;
}

.team-subtitle {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--title-color);
}

.team-text {
    font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--main-text-color);
}

/* FOOTER AND ADDRESS */

.footer {
    background: #2F303A;
}

.logo-footer {
    color: #FFFFFF;
}

.footer-address {
    font-style: normal;
}

.address-list {}

.address-item {}

.address-link-map,
.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.address-link {
    color: rgba(255, 255, 255, 0.6);
}

.address-link-map:hover,
.address-link-map:focus,
.address-link:hover,
.address-link:focus {
    color: var(--active-color);
}

/* PORTFOLIO */
.portfolio {}
.portfolio-title {
display: none;
}
/* FILTERS */

.filters-list {}

.filters-item {}

.filters-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        color: var(--title-color);
        background: var(--background-color);
        border-radius: 4px;
}
.filters-btn:hover,
.filters-btn:focus {
color: #FFFFFF;
background: var(--active-color);
}

/* EXAMPLES */

.examples-list {}

.example-item {}

.example-title {
    font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
        color: var(--title-color);
}

.example-text {
    font-size: 16px;
        line-height: 1.88;
        color: var(--main-text-color);
}